.el-icon-circle-close[data-v-0a064fcb]{color:red}.material-name[data-v-0a064fcb]{padding:8px 0}.col-do[data-v-0a064fcb]{text-align:center}.button-do[data-v-0a064fcb]{padding:unset!important;font-size:12px}
