.msg-div[data-v-e183a7d0]{height:50vh;margin-right:10px;margin-left:10px;overflow:auto;background-color:#eaeaea}.msg-send[data-v-e183a7d0]{padding:10px}.send-but[data-v-e183a7d0]{float:right;margin-top:8px;margin-bottom:8px}
