.el-icon-circle-close[data-v-96a36299]{color:red}.material-name[data-v-96a36299]{padding:8px 0}.col-do[data-v-96a36299]{text-align:center}.button-do[data-v-96a36299]{padding:unset!important;font-size:12px}
